<% include header %>

  <% if (entries.length) { %>
    <% entries.forEach(function(entry) { %>
      
      <div class="container">
        <div class="card" style="width: 20rem; padding-top: 30px; margin-top: 30px;">
          <div class="card-block">
            <h4 class="card-title"> <%= entry.title %> </h4>
            <p class="card-text">
              <%= entry.body %>
            </p>
          </div>
        </div>
      </div>

    <% }) %>
  <% } else { %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Mwamodojnr's Guestbook</h1>
        <p class="lead"> Guestbook has no entries. <a href="/new-entry">Add one</a>!</p>
      </div>
    </div>

  <% } %>

<% include footer %>
